.info-wrapper{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}
.info-wrapper div{
    display: flex;
    flex-direction: column;
}
.info-wrapper h2{
    font-family: "Ribeye", serif;
    color: #dfd8d8;
    font-size: 42px;
    letter-spacing: 4px;
    padding-bottom: 5px;
}
.info-wrapper svg{
    height: 20px;
    width: 20px;

}
.info-wrapper img{
    border-radius: 8px;
}
.info-wrapper span{
    font-size: 20px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.info-wrapper p{
    width: 400px;
    color: #dfd8d8;
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif;
}

.rating svg{
    width: 25px;
    height: 25px;
}
.rating{
    display: flex;
    justify-content: flex-start;
}