.info-wrapper{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}
.info-wrapper div{
    display: flex;
    flex-direction: column;
}
.info-wrapper h2{
    font-family: "Ribeye", serif;
    color: #cfc4c4;
    font-size: 42px;
    letter-spacing: 4px;
    padding-bottom: 5px;
}
.info-wrapper svg{
    height: 20px;
    width: 20px;

}
.info-wrapper span{
    font-size: 20px;
    color: #cfc4c4;
    margin-bottom: 5px;
    display: flex;
    align-items: center;

}
.info-wrapper p{
    width: 400px;
    color: #cfc4c4;
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif;
}
.info-wrapper button{
    background-color: #0088B3;
    color: #efe9e9;
    border-radius: 5px;
    font-size: 18px;
    width: 180px;
    height: 40px;
    font-family: "Roboto Thin", sans-serif;
}
.rating svg{
    width: 25px;
    height: 25px;
}
.rating{
    display: flex;
    justify-content: flex-start;
}