@media screen and (min-width: 1279px){
    #userInfo{
        margin-right: 35px;
    }
    #header h2{
        margin-left: 35px;
    }
    #header nav{
        gap: 95px;
    }
    #grid{
        grid-template-columns: repeat(3, minmax(280px, 1fr));
    }
    #searchWrapper{
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        width: 400px;

    }
    #page-content{
        margin-top: 65px;
    }
    #infoWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 70px;
        flex-direction: row;
    }
    #infoWrapper div{
        display: flex;
        flex-direction: column;
    }
    #genresContainer {
        top: 45px;
    }
    #searchWrapper ul{
        width: 400px;
    }
}