@media screen and (min-width: 1280px){
    #header{
        justify-content: space-between;
    }
    #header nav{
        gap: 95px;
    }
    #searchWrapper{
        position: relative;
        top: 0;
        left: 0;
        display: flex;
    }
    #searchWrapper{
        width: 400px;
    }
    #page-content{
        margin-top: 65px;
    }
}