@media screen and (min-width: 0) and (max-width: 480px) {
    body {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .page-content{

    }
    .grid{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;

    }



}