@media screen and (min-width: 481px) and (max-height: 768px) {
    #infoWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #infoWrapper img{
        max-height: 500px;
    }
    #header{
        gap: 12px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
    }
    #header h2{
        margin-left: 1px;
    }
    #userProfile {
        margin-right: 1px;
    }
    #avatar{
        width: 30px;
        height: 30px;
    }
    #header nav {
        gap: 45px;
    }
    #genresContainer {
        position: fixed;
        top: 55px;
        left: 50%;
        transform: translateX(-50%);
        width: min(90%, 400px);
        max-height: 80vh;
        overflow-y: auto;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
    #searchWrapper{
        position: absolute;
        top: 55px;
        left: -1px;
        display: flex;
        align-items: center;
        width: 100%;
    }
    #searchWrapper form {
        display: flex;
        align-items: center;
        width: 100%;
    }
    #searchWrapper input{
        flex: 1;
        min-width: 0;
    }
    #searchWrapper svg{
        top: 5px;
    }
    #searchWrapper ul{
        width: 100%;
        top: 31px;
    }
    #badge{
        grid-template-columns: repeat(1, 1fr);
    }
}