@media screen and (min-width: 769px) and (max-width: 1279px){
    #header{
        flex-wrap: nowrap;
        padding: 0 10px;
    }
    #header h2{
        margin-right: 15px;
        margin-left: 15px;
    }
    #userProfile {
        margin-right: 15px;
        margin-left: 15px;
    }
    #header nav{
        align-items: center;
        gap: 25px;
    }
    #searchWrapper{
        position: relative;
        top: 0;
        left: 0;
        display: flex;
    }
    #searchWrapper ul{
        width: 55vw;
    }
    #page-content{
        margin-top: 65px;
    }
    #genresContainer {
        position: fixed;
        top: 40px;
        left: 20%;
        width: min(90%, 500px);
        max-height: 90vh;
        overflow-y: auto;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
    #infoWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 70px;
        flex-direction: row;
        width: 100%;
    }
    #infoWrapper div{
        display: flex;
        flex-direction: column;
    }
    @media screen and (min-width: 900px){
        #homePageBtn{
            width: 120px;
        }
    }
    @media screen and (max-width: 940px){
        #infoWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        }
    }
}