@media screen and (min-width: 769px) and (max-width: 1279px){
    #header{
        flex-wrap: nowrap;
    }
    #header nav{
        align-items: center;
    }
    #searchWrapper{
        position: relative;
        top: 0;
        left: 0;
        display: flex;
    }
    #page-content{
        margin-top: 65px;
    }
}