.film-section {
    margin-top: 30px;
}

.film-section h2 {
    font-family: 'Roboto Thin', sans-serif;
    color: #0B658C;
    font-size: 20px;
    margin: 10px 10px;
}

.carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.arrow {
    background-color: #434953;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow svg {
    color: #2C2C2C;
}

.grid-container {
    overflow: hidden;
    width: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 145px;
}

.film {
    background-color: #9230D9;
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
}

.film span {
    background-color: #232323;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 14px;
}
