.grid-search-page{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
    gap: 20px;
    margin: 30px;
}
.failPage{
    display: block;
    text-align: center;
    color: white;
    font-size: 22px;
    margin-top: 155px;
}