.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.search-wrapper input {
    width: 180px;
    height: 25px;
    background-color: #2A334B;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 25px 8px 10px;
    font-family: 'Poppins', sans-serif;
}
.search-wrapper svg {
    position: absolute;
    right: 7px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}