.searchWrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.searchWrapper input {
    width: 400px;
    height: 25px;
    background-color: #2A334B;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 25px 8px 10px;
    font-family: 'Poppins', sans-serif;
}
.searchWrapper svg {
    position: absolute;
    right: 7px;
    top: 5px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.searchDropdown {
    width: 500px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    background: #222;
    list-style: none;
    padding: 0;
    border-radius: 4px;
    overflow: hidden;
    z-index: 10;
    color: white;
}

.searchItem {
    display: flex;
    gap: 12px;
    padding: 8px 10px;
    cursor: pointer;
    border-bottom: 1px solid #333;
    height: 55px;
}
.title{
    color: #148BB5;
}

.searchItem:hover {
    background: #444;
}
.searchRating{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}