.header{
    width: 100%;
    height: 55px;
    background-color: #020B26;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header>h2{
    color: #148BB5;
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    margin-left: 35px;
}
.header>.btn-input>button{
    color: #AAB3C0;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.search-wrapper input {
    width: 180px;
    height: 25px;
    background-color: #2A334B;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 25px 8px 10px;
    font-family: 'Poppins', sans-serif;
}
.search-wrapper svg {
    position: absolute;
    right: 7px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.user-profile>svg{
    width: 35px;
    height: 35px;
    margin-right: 35px;
    cursor: pointer;
}
.btn-input{
    display: flex;
    gap: 250px;
}