.header{
    width: 100%;
    height: 55px;
    background-color: #020B26;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header h2{
    color: #148BB5;
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    margin-left: 35px;
}
.genresWrapper>button{
    color: #148BB5;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.homePageBtn{
    color: #148BB5;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.search-wrapper input {
    width: 300px;
    height: 25px;
    background-color: #2A334B;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 25px 8px 10px;
    font-family: 'Poppins', sans-serif;
}
.search-wrapper svg {
    position: absolute;
    right: 7px;
    top: 8px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.nav{
    display: flex;
    justify-content: space-between;
    gap: 150px;
}
.genresWrapper{
    position: relative;
}

.genresContainer{
    position: absolute;
    top: 100%;
    left: 0;
    width: 700px;
    height: 200px;
    background-color: #167293;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #f1eeee;
    padding: 10px;
    border-radius: 8px;
    z-index: 10;
    gap: 5px;
}
.genresList{
    cursor: pointer;
    max-width: 155px;
    transition: 90ms;
    padding-left: 15px;
    padding-top: 2px;
}
.genresList:hover{
    transition: ease-in-out;
    background-color: #4c86b5;
}
.search-dropdown {
    width: 500px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    background: #222;
    list-style: none;
    padding: 0;
    border-radius: 4px;
    overflow: hidden;
    z-index: 10;
    color: white;
}

.search-item {
    display: flex;
    gap: 12px;
    padding: 8px 10px;
    cursor: pointer;
    border-bottom: 1px solid #333;
    height: 55px;
}
.title{
    color: #148BB5;
}

.search-item:hover {
    background: #444;
}
.rating-in-search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}