.header{
    width: 100%;
    height: 55px;
    background-color: #020B26;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header>h2{
    color: #148BB5;
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    margin-left: 35px;
}
.header>.btn-input>.genres-wrapper>button{
    color: #148BB5;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.search-wrapper input {
    width: 180px;
    height: 25px;
    background-color: #2A334B;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 25px 8px 10px;
    font-family: 'Poppins', sans-serif;
}
.search-wrapper svg {
    position: absolute;
    right: 7px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.user-profile {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 35px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #AAB3C0;
    cursor: pointer;
    transition: transform 0.2s;
}

.user-profile:hover {
    transform: scale(1.05);
}

.user-profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.btn-input{
    display: flex;
    gap: 250px;
}
.genres-wrapper{
    position: relative;
}

.genres-container{
    position: absolute;
    top: 100%;
    left: 0;
    width: 500px;
    background-color: #167293;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #f1eeee;
    padding: 10px;
    border-radius: 8px;
    z-index: 10;
    gap: 5px;
}