.header{
    width: 100%;
    height: 55px;
    background-color: #020B26;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header h2{
    color: #148BB5;
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    margin-left: 35px;
}
.genresWrapper>button{
    color: #148BB5;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.homePageBtn{
    color: #148BB5;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.nav{
    display: flex;
    justify-content: space-between;
    gap: 150px;
}
.genresWrapper{
    position: relative;
}

.genresContainer{
    position: absolute;
    top: 100%;
    left: 0;
    width: 700px;
    height: 200px;
    background-color: #167293;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #f1eeee;
    padding: 10px;
    border-radius: 8px;
    z-index: 10;
    gap: 5px;
}
.genresList{
    cursor: pointer;
    max-width: 155px;
    transition: 90ms;
    padding-left: 15px;
    padding-top: 2px;
}
.genresList:hover{
    transition: ease-in-out;
    background-color: #4c86b5;
}
