.header{
    width: 100%;
    height: 55px;
    background-color: #020B26;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header h2{
    color: #148BB5;
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    margin-left: 35px;
}
.homePageBtn{
    color: #148BB5;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.nav{
    display: flex;
    justify-content: space-between;
    gap: 150px;
}

